
<div class="container-fluid Inscription">
    <div class="row">
        <div class="container-fluid col-md-6 Inscription_title">
            <h1>Para atención psicológica<br><img src="../assets/Fotos/flecha-azul-animada.gif" align="bottom"></h1>
        </div>    
        <div class="container-fluid col-md-6 Inscription_button" id="Inscripcion">
            <form _ngcontent-lhc-c43="" novalidate="" id="contactForm" class="hero__form col-md-8 ng-untouched ng-pristine ng-invalid">
                <div _ngcontent-lhc-c43="">
                    <p _ngcontent-lhc-c43="">Agenda tu hora de consulta</p>                
                </div>
                <div _ngcontent-lhc-c43="" class="form-group">
                    <label _ngcontent-lhc-c43="" for="name" value="name"></label>
                    <input _ngcontent-lhc-c43="" formcontrolname="name" type="text" id="name" aria-describedby="name" placeholder="Ingresa tu nombre completo" class="form-control ng-untouched ng-pristine ng-invalid">
                </div>
                <div _ngcontent-lhc-c43="" class="form-group">
                    <label _ngcontent-lhc-c43="" for="ni" value="ni"></label>
                    <input _ngcontent-lhc-c43="" formcontrolname="ni" type="text" id="rut" placeholder="Ingresa tu RUT" class="form-control ng-untouched ng-pristine ng-invalid">
                </div>
                <div _ngcontent-lhc-c43="" class="form-group">
                    <label _ngcontent-lhc-c43="" for="mail" value="mail"></label>
                    <input _ngcontent-lhc-c43="" formcontrolname="mail" type="mail" id="email" placeholder="Ingresa tu correo electrónico" class="form-control ng-untouched ng-pristine ng-valid">
                </div>
                <div _ngcontent-lhc-c43="" class="form-group">
                    <label _ngcontent-lhc-c43="" for="phone" value="phoneNumber"></label>
                    <input _ngcontent-lhc-c43="" formcontrolname="phone" type="phoneNumber" id="phoneNumber" aria-describedby="phoneNumber" placeholder="Teléfono" class="form-control ng-untouched ng-pristine ng-invalid">
                </div>
                <div _ngcontent-lhc-c43="" class="form-group">
                    <label _ngcontent-lhc-c43="" for="msg"></label>
                    <textarea _ngcontent-lhc-c43="" formcontrolname="msg" id="comment" rows="3" placeholder="Ingresa tu consulta" class="form-control ng-untouched ng-pristine ng-invalid"></textarea>
                </div>
                <div _ngcontent-lhc-c43="" class="form-group">
                    <div _ngcontent-lhc-c43="" class="select">
                        <select _ngcontent-lhc-c43="" formcontrolname="type" name="format" id="format" class="ng-untouched ng-pristine ng-valid">
                            <option _ngcontent-lhc-c43="" selected="" disabled="" value="-1">Tipo de Consulta</option>
                            <option _ngcontent-lhc-c43="" value="Divorcio">Atencion Individual</option>
                            <option _ngcontent-lhc-c43="" value="Divorcio Unilateral">Atencion Parejas</option>
                        </select>
                    </div>
                </div>                    
                    <div _ngcontent-lhc-c43="" class="form-group">
                        <button _ngcontent-lhc-c43="" type="button" id="send" class="btn btn-warning" disabled=""> Envía tu consulta. </button>
                    </div>
            </form>
        </div>
    </div>

    <script src="../contacto/contacto.component.ts"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script
    src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
</div>