<!-- 
<nav class="navbar navbar-expand-lg fixed-top mask-custom shadow-0">
    <div class="container-fluid Logo">
        <img src="../../assets/Fotos/Logo_Azul.png">
        <a class="navbar-brand" href="#!"><span style="color: #00a0e3;">Ataraxia</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Inscripcion">Agendar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Profesional">Profesionales</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="instalacion">Instalaciones</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="#!">
                <i class="fas fa-shopping-cart"></i>
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="#!">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="#!">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
      </div>
    </div>
  </nav> -->

  <header class="site-navbar" role="banner">

    <div class="container-fluid">
      <div class="row align-items-center">
        
        <div class="col-11 col-xl-2 Logo">
          <img src="../../assets/Fotos/Logo_Azul.png">
          <a class="navbar-brand text-white mb-0 site-logo" routerLink=""><span>Ataraxia</span></a>          
        </div>
        <div class="col-12 col-md-10 d-none d-xl-block">
          <nav class="site-navigation position-relative text-right" role="navigation">

            <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
              <li class="active"><a routerLink=""><span>Home</span></a></li>
              <li><a routerLink="contacto"><span>Agendar Hora</span></a></li>
              <li><a href="#Profesional"><span>Nuestros Profesionales</span></a></li>
              <li><a routerLink="instalacion"><span>Nuestras Instalaciones</span></a></li>
            </ul>
          </nav>
        </div>

        <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
        </div>
    </div>
    
  </header>