  <!-- <header class="site-navbar" role="banner">

    <div class="container-fluid">
      <div class="row align-items-center">
        
        <div class="col-11 col-xl-2 Logo">
          <img src="../../assets/Fotos/Logo_Azul.png">
          <a class="navbar-brand text-white mb-0 site-logo" routerLink=""><span>Ataraxia</span></a>          
        </div>
        <div class="col-12 col-md-10 d-none d-xl-block">
          <nav class="site-navigation position-relative text-right" role="navigation">
            <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
              <li><a routerLink=""><span>Home</span></a></li>              
              <li><a routerLink="team"><span>Nuestro equipo</span></a></li>
              <li><a routerLink="login"><span>Ingresa</span></a></li>              
            </ul>            
          </nav>
        </div>

        <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
        </div>
    </div>
    
  </header> -->

  <!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top navbar-color">
  <div class="container">    
    <img class="Logo" src="../../assets/Fotos/Logo_Azul.png">               
    <a class="navbar-brand" href="#">Ataraxia</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="team">Nuestro equipo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Ingresa</a>
        </li>        
      </ul>
    </div>
  </div>
</nav>