  <header class="site-navbar" role="banner">

    <div class="container-fluid">
      <div class="row align-items-center">
        
        <div class="col-11 col-xl-2 Logo">
          <img src="../../assets/Fotos/Logo_Azul.png">
          <a class="navbar-brand text-white mb-0 site-logo" routerLink=""><span>Ataraxia</span></a>          
        </div>
        <div class="col-12 col-md-10 d-none d-xl-block">
          <nav class="site-navigation position-relative text-right" role="navigation">
            <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
              <li class="active"><a routerLink=""><span>Home</span></a></li>              
              <li><a routerLink="instalacion"><span>Instalaciones</span></a></li>
              <li><a routerLink="professionals"><span>Profesionales</span></a></li>
            </ul>
          </nav>
        </div>

        <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
        </div>
    </div>
    
  </header>