<div class="container-fluid login">
    <div class="simple-login-container">
        <h2>Ingresa para visualizar tus horas de atención</h2>
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="text" class="form-control" placeholder="Nombre de usuario">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="password" placeholder="Ingresa tu contraseña" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="submit" class="btn btn-block btn-login" placeholder="Ingresa tu contraseña" >
            </div>
        </div>        
    </div>
</div>

<div class="site-navigation container-fluid examples" role="navigation">        
    <button type="button" (click)="navigatetopatient()" class="btn btn-danger"><a routerLink="pacient"><span>Ingreso en caso de sección paciente</span></a></button>
    <button type="button" (click)="navigatetodoctor()" class="btn btn-warning"><a routerLink="doctor"><span>Ingreso en caso de sección psicólogo</span></a></button>
</div>