<app-navbar></app-navbar>
    
<div id="intro" class="bg-image vh-100" style="
        background-image: url('https://mdbootstrap.com/img/Photos/new-templates/psychologist/img1.jpg');
    ">
    <div class="mask" style="background-color: rgba(250, 182, 162, 0.15);"></div>
</div>

<div class="container-fluid Inscription">
    <div class="row">
        <div class="container-fluid col-md-6 Inscription_title">
            <h1>Para atención psicológica</h1>
        </div>    
        <div class="container-fluid col-md-6 Inscription_button" id="Inscripcion">
            <form _ngcontent-lhc-c43="" novalidate="" id="contactForm" class="hero__form col-md-8 ng-untouched ng-pristine ng-invalid">
                <div _ngcontent-lhc-c43="">
                    <p _ngcontent-lhc-c43="">Agenda tu hora de consulta</p>
                </div>
                <div _ngcontent-lhc-c43="" class="form-group">
                    <label _ngcontent-lhc-c43="" for="name" value="name"></label>
                    <input _ngcontent-lhc-c43="" formcontrolname="name" type="text" id="name" aria-describedby="name" placeholder="Ingresa tu nombre completo" class="form-control ng-untouched ng-pristine ng-invalid">
                </div>
                <div _ngcontent-lhc-c43="" class="form-group">
                    <label _ngcontent-lhc-c43="" for="ni" value="ni"></label>
                    <input _ngcontent-lhc-c43="" formcontrolname="ni" type="text" id="rut" placeholder="Ingresa tu RUT" class="form-control ng-untouched ng-pristine ng-invalid">
                </div>
                <div _ngcontent-lhc-c43="" class="form-group">
                    <label _ngcontent-lhc-c43="" for="mail" value="mail"></label>
                    <input _ngcontent-lhc-c43="" formcontrolname="mail" type="mail" id="email" placeholder="Ingresa tu correo electrónico" class="form-control ng-untouched ng-pristine ng-valid">
                </div>
                <div _ngcontent-lhc-c43="" class="form-group">
                    <label _ngcontent-lhc-c43="" for="phone" value="phoneNumber"></label>
                    <input _ngcontent-lhc-c43="" formcontrolname="phone" type="phoneNumber" id="phoneNumber" aria-describedby="phoneNumber" placeholder="Teléfono" class="form-control ng-untouched ng-pristine ng-invalid">
                </div>
                <div _ngcontent-lhc-c43="" class="form-group">
                    <label _ngcontent-lhc-c43="" for="msg"></label>
                    <textarea _ngcontent-lhc-c43="" formcontrolname="msg" id="comment" rows="3" placeholder="Ingresa tu consulta" class="form-control ng-untouched ng-pristine ng-invalid"></textarea>
                </div>
                <div _ngcontent-lhc-c43="" class="form-group">
                    <div _ngcontent-lhc-c43="" class="select">
                        <select _ngcontent-lhc-c43="" formcontrolname="type" name="format" id="format" class="ng-untouched ng-pristine ng-valid">
                            <option _ngcontent-lhc-c43="" selected="" disabled="" value="-1">Tipo de Consulta</option>
                            <option _ngcontent-lhc-c43="" value="Divorcio">Atencion Individual</option>
                            <option _ngcontent-lhc-c43="" value="Divorcio Unilateral">Atencion Parejas</option>
                        </select>
                    </div>
                </div>                    
                    <div _ngcontent-lhc-c43="" class="form-group">
                        <button _ngcontent-lhc-c43="" type="button" id="send" class="btn btn-warning" disabled=""> Envía tu consulta. </button>
                    </div>
            </form>
        </div>
    </div>    
</div>

<div class="container">
    <div class="row" id="Profesional">
        <h1>Nuestros profesionales</h1>
    </div>
    <div class="row text-center">
        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-team/teacher-4.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Manuella Nevoresky</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div><!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-team/teacher-2.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Samuel Hardy</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div><!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-team/teacher-1.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Tom Sunderland</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div><!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-team/teacher-7.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">John Tarly</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div><!-- End -->
    </div>
</div>

<div class="ubication" id="Ubicacion">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53534.938837821624!2d-71.56536073846675!3d-33.00552398721822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689de84ead41255%3A0x8e5fde76df3d413f!2zVmnDsWEgZGVsIE1hciwgVmFscGFyYcOtc28!5e0!3m2!1ses!2scl!4v1660521997690!5m2!1ses!2scl" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<app-footer></app-footer>