<div class="professionals_tittle">
    <h1>Nuestros profesionales</h1>
</div>
<div class="container-fluid container_professionals Profesionals_color">
    <img src="https://images.unsplash.com/photo-1569390173732-5c735072c80f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">    
    <img src="https://images.unsplash.com/photo-1582842195329-6a0baffd2a39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
    <img src="https://images.unsplash.com/photo-1600722230999-22c256d38cb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
</div>
<div class="container-fluid container_professionals Profesionals_color">
    <img src="https://images.unsplash.com/photo-1569390173732-5c735072c80f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">    
    <img src="https://images.unsplash.com/photo-1582842195329-6a0baffd2a39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
    <img src="https://images.unsplash.com/photo-1600722230999-22c256d38cb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
</div>

<div id="intro" class="vh-100 container-fluid" style="
        background-image: url('../../assets/Fotos/Instalaciones.jpg');">
        <h1>Ataraxia cuenta con un establecimiento de primera <br> garantizando la calidad para todos los clientes.</h1>
</div>


<div class="row container-fluid installations-images">
        <div class="col-md-4">
                <img src="../../assets/Fotos/installations5.jpg" alt="">
        </div>
        <div class="col-md-4">
                <img src="../../assets/Fotos/Instalacion}.jpg" alt="">
        </div>
        <div class="col-md-4">
                <img src="../../assets/Fotos/installations1.jpg" alt="">
        </div>
</div>
<div class="row container-fluid installations-images">
        <div class="col-md-4">
                <img src="../../assets/Fotos/installations2.jpg" alt="">
        </div>
        <div class="col-md-4">
                <img src="../../assets/Fotos/installations3.jpg" alt="">
        </div>
        <div class="col-md-4">
                <img src="../../assets/Fotos/installations4.jpeg" alt="">
        </div>
</div>