<div class="professionals_tittle">
    <h1>Nuestros profesionales</h1>
</div>
<div class="container-fluid container_professionals Profesionals_color">
    <img src="../../assets/Fotos/professionals.jpeg" alt="">    
    <img src="../../assets/Fotos/professionals2.jpeg" alt="">
    <img src="../../assets/Fotos/professionals3.jpeg" alt="">
</div>
<div class="container-fluid container_professionals Profesionals_color">
    <img src="../../assets/Fotos/professionals4.jpeg" alt="">    
    <img src="../../assets/Fotos/professionals5.jpeg" alt="">
    <img src="../../assets/Fotos/professionals6.jpeg" alt="">
</div>

<div id="intro" class="vh-100 container-fluid" style="
        background-image: url('../../assets/Fotos/Instalaciones.jpg');">
        <h1>Ataraxia cuenta con un establecimiento de primera <br> garantizando la calidad para todos los clientes.</h1>
</div>


<div class="row container-fluid installations-images">
        <div class="col-md-4">
                <img src="../../assets/Fotos/installations5.jpg" alt="">
        </div>
        <div class="col-md-4">
                <img src="../../assets/Fotos/Instalacion}.jpg" alt="">
        </div>
        <div class="col-md-4">
                <img src="../../assets/Fotos/installations1.jpg" alt="">
        </div>
</div>
<div class="row container-fluid installations-images">
        <div class="col-md-4">
                <img src="../../assets/Fotos/installations2.jpg" alt="">
        </div>
        <div class="col-md-4">
                <img src="../../assets/Fotos/installations3.jpg" alt="">
        </div>
        <div class="col-md-4">
                <img src="../../assets/Fotos/installations4.jpeg" alt="">
        </div>
</div>