<div id="intro" class="vh-100 container-fluid" style="
        background-image: url('../../assets/Fotos/terapeuta-mujer-tiro-medio-tomando-notas-portapapeles_23-2148759120.png');">
        <h1>Ataraxia como centro de psicología, <br> realiza el compromiso de atender cada situacion con el mayor profesionalismo posible, <br> brindando un servicio de calidad donde podrás expresarte.</h1>
</div>

<div class="container-fluid description">
    <div class="container-fluid row">
        <div class="col-md-6 description_image">
            <img src="../../assets/Fotos/4824.jpg" alt="">
        </div>
        <div class="col-md-6 description_text">
            <h1>Nuestro servicio se caracteriza por una atencion individual y de calidad, donde podrás expresar todos tus sentimientos. <br> 
                En el establecimiento lograrás encontrarte con profesionales de alto nivel, especialistas en los siguientes tratamientos:
            </h1>
        </div>
    </div>
</div>

<div>
    <section class="card-area container-fluid">  

        <!-- Card: Ansiedad -->
        <section class="card-section">
            <div class="card">
                <div class="flip-card">
                    <div class="flip-card__container">
                        <div class="card-front">
                            <div class="card-front__tp card-front__tp--city">                            

                            <img src="../../assets/Fotos/ansiedad (2).png" alt="" class="card-front__icon">

                            <h2 class="card-front__heading">
                            Transtorno <br> de ansiedad
                        </h2>
                            </div>

                            <div class="card-front__bt">
                                <p class="card-front__text-view card-front__text-view--city">
                                    Más información
                                </p>
                            </div>
                        </div>
                        <div class="card-back">                        
                            <img class="video__container" src="../../assets/Fotos/ansiedad_back.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="inside-page">
                    <div class="inside-page__container">
                        <h3 class="inside-page__heading inside-page__heading--city">
                            Ansiedad
                        </h3>
                        <p class="inside-page__text">
                            La ansiedad es un sentimiento de miedo, temor e inquietud. Puede hacer que sude, se sienta inquieto y tenso, y tener palpitaciones. Puede ser una reacción normal al estrés.
                        </p>                    
                    </div>
                </div>
            </div>
        </section>

        <!-- Card: Depresion -->
        <section class="card-section">
            <div class="card">
                <div class="flip-card">
                    <div class="flip-card__container">
                        <div class="card-front">
                            <div class="card-front__tp card-front__tp--ski">
                                <img src="../../assets/Fotos/depresion (2).png" alt="" class="card-front__icon">
                                            <h2 class="card-front__heading">
                                                Transtorno <br> depresivo
                                            </h2>                                 
                            </div>

                            <div class="card-front__bt">
                                <p class="card-front__text-view card-front__text-view--ski">
                                    Más información
                                </p>
                            </div>
                        </div>

                        <div class="card-back">                        
                            <img class="video__container" src="../../assets/Fotos/depresion_back.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="inside-page">
                    <div class="inside-page__container">
                        <h3 class="inside-page__heading inside-page__heading--ski">
                            Depresión
                        </h3>
                        <p class="inside-page__text">
                            La depresión clínica es un trastorno del estado anímico en el cual los sentimientos de tristeza, pérdida, ira o frustración interfieren con la vida diaria durante un período de algunas semanas o más.
                        </p>                    
                    </div>
                </div>
            </div>
        </section>

        <!-- Card: Bipolar -->
        <section class="card-section">
            <div class="card">
                <div class="flip-card">
                    <div class="flip-card__container">
                        <div class="card-front">
                            <div class="card-front__tp card-front__tp--beach">
                                <img src="../../assets/Fotos/bipolar (2).png" alt="" class="card-front__icon">
                            
                                            <h2 class="card-front__heading">
                                                Transtorno bipolar
                                            </h2>                                        
                            </div>

                            <div class="card-front__bt">
                                <p class="card-front__text-view card-front__text-view--beach">
                                    Más información
                                </p>
                            </div>
                        </div>
                        <div class="card-back">                        
                            <img class="video__container" src="../../assets/Fotos/bipolar_back.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="inside-page">
                    <div class="inside-page__container">
                        <h3 class="inside-page__heading inside-page__heading--beach">
                            Transtorno Bipolar
                        </h3>
                        <p class="inside-page__text">
                            El trastorno bipolar, es una enfermedad mental que causa cambios extremos en el estado de ánimo que comprenden altos emocionales y bajos emocionales.
                        </p>                    
                    </div>
                </div>
            </div>
        </section>

        <!-- Card: Atencion -->
        <section class="card-section">
            <div class="card">
                <div class="flip-card">
                    <div class="flip-card__container">
                        <div class="card-front">
                            <div class="card-front__tp card-front__tp--camping">
                                <img src="../../assets/Fotos/deficit_atencion (2).png" alt="" class="card-front__icon">
                                            <h2 class="card-front__heading">
                                                Déficit <br> de atención
                                            </h2>                                        
                            </div>

                            <div class="card-front__bt">
                                <p class="card-front__text-view card-front__text-view--camping">
                                    Más información
                                </p>
                            </div>
                        </div>
                        <div class="card-back">                        
                            <img class="video__container" src="../../assets/Fotos/deficit_atencion_back.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="inside-page">
                    <div class="inside-page__container">
                        <h3 class="inside-page__heading inside-page__heading--camping">
                            Déficit atencional
                        </h3>
                        <p class="inside-page__text">
                            Consiste en una condición neurobiológica en que hay dificultad para focalizar la atención y mantenerla por periodos prolongados.
                        </p>                    
                    </div>
                </div>
            </div>
        </section>
    </section>

    <section class="card-area">

        <!-- Card: Asperger -->
        <section class="card-section">
            <div class="card">
                <div class="flip-card">
                    <div class="flip-card__container">
                        <div class="card-front">
                            <div class="card-front__tp card-front__tp--asperger">
                                <img src="../../assets/Fotos/asperger (2).png" alt="" class="card-front__icon">

                            <h2 class="card-front__heading">
                            Síndrome <br> de Asperger
                        </h2>
                            </div>

                            <div class="card-front__bt">
                                <p class="card-front__text-view card-front__text-view--asperger">
                                    Más información
                                </p>
                            </div>
                        </div>
                        <div class="card-back">                        
                            <img class="video__container" src="../../assets/Fotos/asperger_back.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="inside-page">
                    <div class="inside-page__container">
                        <h3 class="inside-page__heading inside-page__heading--asperger">
                            Síndrome de Asperger
                        </h3>
                        <p class="inside-page__text">
                            Trastorno del comportamiento que afecta la capacidad de socializar y comunicarse con efectividad.
                        </p>                    
                    </div>
                </div>
            </div>
        </section>

        <!-- Card: TOC -->
        <section class="card-section">
            <div class="card">
                <div class="flip-card">
                    <div class="flip-card__container">
                        <div class="card-front">
                            <div class="card-front__tp card-front__tp--toc">
                                <img src="../../assets/Fotos/toc (2).png" alt="" class="card-front__icon">
                                            <h2 class="card-front__heading">
                                                Transtorno obsesivo compulsivo
                                            </h2>                                 
                            </div>

                            <div class="card-front__bt">
                                <p class="card-front__text-view card-front__text-view--toc">
                                    Más información
                                </p>
                            </div>
                        </div>

                        <div class="card-back">                        
                            <img class="video__container" src="../../assets/Fotos/toc_back.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="inside-page">
                    <div class="inside-page__container">
                        <h3 class="inside-page__heading inside-page__heading--toc">
                            Transtorno obsesivo compulsivo
                        </h3>
                        <p class="inside-page__text">
                            Pensamientos excesivos (obsesiones) que llevan a comportamientos repetitivos (compulsiones).
                        </p>                    
                    </div>
                </div>
            </div>
        </section>      
    </section>
<div>

 
<div class="container-fluid recomendations" id="Recomendations">
    
    <div class="row">
        <h1>Recomendaciones de nuestros clientes</h1>
    </div>    

    <div class="row recomendations_row">
        <div class="col-md-4 col-xs-12">
            <video src="../../assets/Videos/Tweet-1.webm" autoplay loop muted></video>
        </div>
    
        <div class="col-md-4 col-xs-12">
            <video src="../../assets/Videos/Tweet-2.webm" autoplay loop muted></video>
        </div>
    
        <div class="col-md-4 col-xs-12">
            <video src="../../assets/Videos/Tweet-3.webm" autoplay loop muted></video>
        </div>
    </div>   
    <div class="row recomendations_row">
        <div class="col-md-4">
            <video src="../../assets/Videos/Tweet-4.webm" autoplay loop muted></video>
        </div>
    
        <div class="col-md-4">
            <video src="../../assets/Videos/Tweet-5.webm" autoplay loop muted></video>
        </div>
    
        <div class="col-md-4">
            <video src="../../assets/Videos/Tweet-6.webm" autoplay loop muted></video>
        </div>
    </div>   
</div>

<div class="ubication" id="Ubicacion">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53534.938837821624!2d-71.56536073846675!3d-33.00552398721822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689de84ead41255%3A0x8e5fde76df3d413f!2zVmnDsWEgZGVsIE1hciwgVmFscGFyYcOtc28!5e0!3m2!1ses!2scl!4v1660521997690!5m2!1ses!2scl" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>